<div class="icon">
  {{fa-icon icon}}
</div>

<div class="content">
  {{notification.message}}
</div>

<a class="close" {{action "clear"}}>
  {{fa-icon 'fa-times-circle'}}
</a>

{{#if notification.autoClear}}
  <div class="countdown" style={{notificationClearDuration}}></div>
{{/if}}
