<div class="notification-message__icon">
  {{fa-icon icon}}
</div>

<div class="notification-message__content">
  {{notification.message}}
</div>

<a class="notification-message__close-button" {{action "clear"}}>
  {{fa-icon 'times-circle'}}
</a>

{{#if notification.autoClear}}
  <div class="notification-message__countdown" style={{notificationClearDuration}}></div>
{{/if}}
