<div class='page-description'>
  <div class='content'>
    <h3>{{h1}}</h3>
    <p>{{p1}}</p>
    <pre>{{pre1}}</pre>
    <h3>{{h2}}</h3>
    <p>{{p2}}</p>
    <pre>{{pre2}}</pre>
    <h3>{{h3}}</h3>
    <p>{{p3}}</p>
    <pre>{{pre3}}</pre>
    <h3>{{h4}}</h3>
    <p>{{p4}}</p>
    <pre>{{pre4}}</pre>
  </div>
  <div class='callout'>
    {{input type='checkbox' checked=description class='checkbox'}}
    x
  </div>
</div>
