<header class="article-header">
  <h1><span class="title-category">Helper:</span> Concat</h1>
</header>
<table class="example">
  <tr>
    <td colspan=3>Inputs</td>
    <td>Outputs</td>
  </tr>
  <tr>
    <td>
      {{input value=word1}}
    </td><td>
      {{input value=word2}}
    </td><td>
    </td><td>
      {{input readonly=true value = (concat word1 word2)}}
    </td>
  </tr>
  <tr>
    <td>
      {{input value=word3}}
    </td>
    <td>
      {{input value=word4}}
    </td>
    <td>
      {{input value=word5}}
    </td>
    <td>
      {{input readonly=true value = (concat word3 word4 word5)}}
    </td>
  </tr>
  <tr>
    <td>
      {{method3}}
    </td>
    <td>
      {{method4}}
    </td>
    <td>
      {{method5}}
    </td>
    <td>
      {{method6}}
    </td>
  </tr>
</table>
{{#page-description title='Concat Helper'}}
  <h1>Details</h1>
  <P>Very simple helper, all arguments will be concatenated onto eachother in the order required.</P>
  <h1>Use cases</h1>
  <p>The Concat helper is used when you cant use a simple addition such is in handlebars, or when creating links as it is safer to do it this way.</p>
{{/page-description}}
