<header class="article-header">
  <h1><span class="title-category">Helper:</span> Format Number</h1>
</header>

<div class="example">
  <table>
    <tr><th>original</th><th>format</th><th>Places</th><th>SigFigs</th><th>Output</th><th>generated formulae</th></tr>
    <tr><h2>Custom</h2></tr>
    <tr>
      <td>{{input type='number' value=numberExample.original}}</td>
      <td>{{input value=numberExample.format}}</td>
      <td>{{input type='number' value=numberExample.places}}</td>
      <td>{{input type='number' value=(mut numberExample.sigfigs)}}</td>
      <td>{{format-number thisExample.format numberExample.original places=numberExample.places sigfigs=numberExample.sigfigs}}</td>
      <td><textarea>\{{format-number '{{~numberExample.format}}' places={{~numberExample.places}} Sigfigs={{~numberExample.sigfigs}}
        {{~closebraces}}
      </textarea></td>
    </tr>
    {{#each formats as |format|}}
      <tr><h2>{{format.name}}</h2></tr>
      {{#each format.examples as |example|}}
        <tr>
          <td>{{example.original}}</td>
          <td>{{example.format}}</td>
          <td>{{example.places}}</td>
          <td>{{example.sigfigs}}</td>
          <td>{{format-number example.format example.original places=example.places sigfigs=example.sigfigs}}</td>
          <td><textarea>{{example.equation}}</textarea></td>
        </tr>
      {{/each}}
    {{/each}}
  </table>
</div>
