<header class="article-header">
  <h1><span class="title-category">Helper:</span> Format Number</h1>
</header>

{{#each formats as |format|}}
<h2>{{format.name}}</h2>
<div class="example">
  <table>
    <tr><th>original</th><th>format</th><th>Places</th><th>SigFigs</th><th>Output</th><th>generated formulae</th></tr>
    {{#each format.examples as |example|}}
    <tr>
      <td>{{example.original}}</td>
      <td>{{example.format}}</td>
      <td>{{example.places}}</td>
      <td>{{example.sigfigs}}</td>
      <td>{{format-number example.format example.original places=example.places sigfigs=example.sigfigs}}</td>
      <td><textarea>{{example.equation}}</textarea></td>
  </tr>
  {{/each}}
  <tr>
    <td>{{input type='number' value=(mut thisExample.original)}}</td>
    <td>{{input value=thisExample.format}}</td>
    <td>{{input type='number' value=thisExample.places}}</td>
    <td>{{input type='number' value=(mut thisExample.sigfigs)}}</td>
    <td>{{format-number thisExample.format thisExample.original places=thisExample.places sigfigs=thisExample.sigfigs}}</td>
    <td><textarea>{{concat "{{format-number '" thisExample.format "' places="thisExample.places " Sigfigs="thisExample.sigfigs }}</textarea></td>
  </tr>
</table>
</div>
{{/each}}
