<header class="article-header">
  <h1><span class="title-category">Component:</span> Active Table</h1>
</header>

<p>like a normal table, but the columns are sortable.</p>
<p>NB: Has Issues if numbers are passed in as Strings,</p>

{{#active-table columns=tableColumns sortedBy=sort}}
  {{#each tableContent as |item|}}
    <tr>
      <td>{{item.letters}}</td>
      <td>{{item.dates}}</td>
      <td>{{item.numbers}}</td>
      <td>{{item.numbersAsStrings}}</td>
    </tr>
  {{/each}}
{{/active-table}}

<textarea>\{{#active-table columns=tableColumns sortedBy=sort}}
\{{#each tableContent as |item|}}
  tr
   td\{{item.letters}}/td
     td\{{item.dates}}/td
     td\{{item.numbers}}/td
    td\{{item.numbersAsStrings}}/td
  /tr
  \{{/each}}
\{{/active-table}}</textarea>
