<header class="article-header">
  <h1>Charts</h1>
</header>

<h2><span class="title-category">Component:</span> Data Table</h2>

{{charts/data-table series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
  <table style="border:thick solid black">
    <tr><td>Operation</td><td>description</td></tr>
    {{#each words as |word|}}
      <tr>
        {{#each word as |block|}}
          <td style="border:thick solid black">{{block}}</td>
          {{/each}}
      </tr>
    {{/each}}

    <p>{charts/data-table series=series thisData=data metrics=metrics period=period}</p>
  </table>
  {{input type="checkbox" checked=hideData}}Hide Data
  {{#unless hideData}}
<textarea>{{textarea}}</textarea>
  {{/unless}}
</div>
{{#page-description title='bleh'}}
<h1>asdasdsa</h1>
  <p>fdsfdsfsdfds</p>
{{/page-description}}

<h2><span class="title-category">Component:</span> Line Chart</h2>

{{charts/line-chart series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
<p>""{ {charts/line-chart series=series thisData=data metrics=metrics period=period} }""</p>
<p></p>
</div>


<h2><span class="title-category">Component:</span> Pie Chart</h2>

{{charts/pie-chart series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
<p>""{ {charts/pie-chart series=series thisData=data metrics=metrics period=period} }""</p>
</div>
