<header class="article-header">
  <h1>Charts</h1>
</header>

<h2><span class="title-category">Component:</span> Data Table</h2>

{{charts/data-table series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
  <table style="border:thick solid black">
    <tr><td>Operation</td><td>description</td></tr>
    {{#each words as |word|}}
      <tr>
        {{#each word as |block|}}
          <td style="border:thick solid black">{{block}}</td>
          {{/each}}
      </tr>
    {{/each}}

    <p>{charts/data-table series=series thisData=data metrics=metrics period=period}</p>
  </table>
  {{input type="checkbox" checked=hideData}}Hide Data
  {{#unless hideData}}
  <p>const metrics = [
    {
      metric: '5760a5836a2fdd76101ea441',
      meta: {
        name: 'egg'
      },
      series: [
        {
          branch: '576090256a2fdd76101ea427',
          periods: [
            {
              account: '57609fb96a2fdd76101ea436',
              branch: '576090256a2fdd76101ea427',
              date: '2016-03-31T10:59:59.999Z',
              import: '57677b3fbd59bec40b6ad751',
              organisation: '576090186a2fdd76101ea426',
              periodTypes: {
                month: {
                  mapsUsed: [],
                  value: 60
                },
                ytd: {
                  mapsUsed: [],
                  value: 80
                }
              }
            }
          ]
        }]
    },
    {
      metric: '5760be476a2fdd76101ea48b',
      meta: {
        name: 'bacon'
      },
      series: [
        {
          branch: '5760902c6a2fdd76101ea429',
          periods: [
            {
              account: '5760be476a2fdd76101ea48b',
              branch: '5760902c6a2fdd76101ea429',
              date: '2016-03-31T10:59:59.999Z',
              import: '57688b8dbd59bec40b74f132',
              organisation: '576090186a2fdd76101ea426',
              periodTypes: {
                month: {
                  mapsUsed: [],
                  value: 40
                },
                ytd: {
                  mapsUsed: [],
                  value: 20
                }
              }
            }
          ]
        }
      ]
    },
    {
      metric: '5760be476a2fdd76101ea48a',
      meta: {
        name: 'steak'
      },
      series: [
        {
          branch: '5760902c6a2fdd76101ea429',
          periods: [
            {
              account: '5760be476a2fdd76101ea48b',
              branch: '5760902c6a2fdd76101ea429',
              date: '2016-03-31T10:59:59.999Z',
              import: '57688b8dbd59bec40b74f132',
              organisation: '576090186a2fdd76101ea426',
              periodTypes: {
                month: {
                  mapsUsed: [],
                  value: 5
                },
                ytd: {
                  mapsUsed: [],
                  value: 20
                }
              }
            }
          ]
        }
      ]
    }
  ];</p>
  {{/unless}}
</div>

<h2><span class="title-category">Component:</span> Line Chart</h2>

{{charts/line-chart series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
<p>""{ {charts/line-chart series=series thisData=data metrics=metrics period=period} }""</p>
<p></p>
</div>


<h2><span class="title-category">Component:</span> Pie Chart</h2>

{{charts/pie-chart series=series thisData=data metrics=metrics period=period}}
<div class='infoBox'>
<p>""{ {charts/pie-chart series=series thisData=data metrics=metrics period=period} }""</p>
</div>
