<header class="article-header">
  <h1><span class="title-category">Components:</span>Combo Box</h1>
</header>

<section style="width: 300px;">
  Combo box with an options array of strings<br>
  {{combo-box
    value=model.date
    options=model.dates
    onSet=(action 'setDate')
  }}
  Combo box with an options array of objects<br>
  {{combo-box
    value=model.code
    options=model.options
    key='code'
    onSet=(action 'setCode')
  }}
  Combo box with an updater and and options array of objects<br>
  {{combo-box
    value=model.name
    options=newOptions
    key='name'
    onSet=(action 'setName')
    emptyText='No options found'
    emptyButtonText='Click to update options'
    emptyButtonAction=(action 'updateOptions')
    isLoading=isUpdating
  }}
</section>

<br><br>

{{#page-description title='Combo Box'}}
  Combo box with an options array of strings
  <pre><code>
    \{{combo-box
      value=model.date
      options=model.dates
      onSet=(action 'setDate')
    }}
  </code></pre>
  Combo box with an options array of objects
  <pre><code>
    \{{combo-box
      value=model.code
      options=model.options
      key='code'
      onSet=(action 'setCode')
    }}
  </code></pre>
  Combo box with an updater and and options array of objects
  <pre><code>
    \{{combo-box
      value=model.name
      options=newOptions
      key='name'
      onSet=(action 'setName')
      emptyText='No options found'
      emptyButtonText='Click to update options'
      emptyButtonAction=(action 'updateOptions')
      isLoading=isUpdating
    }}
  </code></pre>

  <p>
    Props:
    <ul>
      <li><b>options</b>: Array (required)</li>
      <li><b>key</b>: String (required if you provide an array of objects to options)</li>
      <li><b>value</b>: String (required)</li>
      <li><b>onSet</b>: Action (required)</li>
      <li><b>placeholder</b>: String</li>
      <li><b>emptyButtonText</b>: String</li>
      <li><b>emptyButtonAction</b>: Action</li>
      <li><b>emptyText</b>: String</li>
      <li><b>isLoading</b>: Boolean</li>
    </ul>
    <p>
      options:<br>
        The options array for selecting from. Can be an array of strings or an array of objects.<br><br>
      key:<br>
        The key for the attribute in your options array. Required if you provide an array of objects to options.<br><br>
      value:<br>
        The value you are setting. Must be a string.<br><br>
      onSet:<br>
        The set action. Will pass out:
        <ul>
          <li>the plain input string</li>
          <li>the plain value of the selected option (if options is an array of strings)</li>
          <li>the value of the <b>get(option, key)</b> (if options is an array of objects)</li>
        </ul>
      <br><br>
      emptyButtonText:<br>
        The optional button text which appears when there are no found options.<br><br>
      emptyButtonAction:<br>
        The optional button action which appears when there are no found options.<br><br>
      emptyText:<br>
        The optional empty text which appears when there are no found options.<br><br>
      isLoading:<br>
        The optional boolean that toggles the loading state.<br><br>
    </p>
  </p>
{{/page-description}}
