<header class="article-header">
  <h1 class="h1"><span class="title-category">Component:</span> Formatted Input</h1>
</header>

<table class="data-table data-table--stretched page-wrapper page-wrapper--large">
  <thead>
    <tr>
      <th>Format</th>
      <th>Options</th>
      <th width="150">Input</th>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Number</td>
      <td>None</td>
      <td>
        {{formatted-input
          number=value1
          class="text-input text-right data-table__cell-cover"
        }}
      </td>
      <td>→ {{value1}}</td>
    </tr>

    <tr>
      <td>Currency</td>
      <td>Update action</td>
      <td>
        {{formatted-input
          number=value2
          format='currency'
          class="text-input text-right data-table__cell-cover"
        }}
      </td>
      <td>→ {{value2}}</td>
    </tr>

    <tr>
      <td>Number</td>
      <td><code>update=(action 'updateValue')</code></td>
      <td>
        {{formatted-input
          number=value3
          update=(action 'updateValue')
          class="text-input text-right data-table__cell-cover"
        }}
      </td>
      <td>→ {{value3}}, last updated at {{moment-format lastUpdated 'h:mm:ss'}}</td>
    </tr>

    <tr>
      <td>Percentage</td>
      <td><code>editRawValue=false</code>, <code>selectOnFocus=true</code></td>
      <td>
        {{formatted-input
          number=value4
          format='percentage'
          editRawValue=false
          selectOnFocus=true
          class="text-input text-right data-table__cell-cover"
        }}
      </td>
      <td>→ {{value4}}</td>
    </tr>

    <tr>
      <td>Custom</td>
      <td><code>formatter=formatDuration</code>, <code>parser=parseDuration</code>, <code>editRawValue=false</code></td>
      <td>
        {{formatted-input
          number=value5
          formatter=formatDuration
          parser=parseDuration
          editRawValue=false
          class="text-input text-right data-table__cell-cover"
        }}
      </td>
      <td>→ {{value5}}</td>
    </tr>
  </tbody>
</table>
