<header class="article-header">
  <h1><span class="title-category">Component:</span> Loading Button</h1>
</header>

{{loading-button action='save' isLoading=isSaving1 isDisabled=false}}

<button {{action 'reset'}}>Reset</button>

{{buttonCode1}}

<h1>Disabled</h1>
{{loading-button action='save' isLoading=isSaving2 isDisabled=true}}

<button {{action 'reset'}}>Reset</button>

{{buttonCode2}}
