<header class='page-header'>
  <h1>Construction Zone</h1>
  <h2>Code to be shared across the Portal’s modules.</h2>
</header>
<main>
  <aside class='sidebar'>
  <div class='construction'></div>
    <nav>
      <h3>Components</h3>
      <ul>
        <li>{{#link-to 'app-components.active-table'}}Active table{{/link-to}}</li>
        <li>{{#link-to 'app-components.charts'}}Charts{{/link-to}}</li>
        <li>{{#link-to 'app-components.checkbox-list'}}Checkbox list{{/link-to}}</li>
        <li>{{#link-to 'app-components.file-inputs'}}File inputs{{/link-to}}</li>
        <li>{{#link-to 'app-components.formatted-input'}}Formatted input{{/link-to}}</li>
        <li>{{#link-to 'app-components.loading-button'}}Loading button{{/link-to}}</li>
        <li>{{#link-to 'app-components.loading-icon'}}Loading icon{{/link-to}}</li>
        <li>{{#link-to 'app-components.month-picker'}}Month picker{{/link-to}}</li>
        <li>{{#link-to 'app-components.print-button'}}Print button{{/link-to}}</li>
        <li>{{#link-to 'app-components.sortable-list'}}Sortable list{{/link-to}}</li>
        <li>{{#link-to 'app-components.untethered-modal-dialog'}}Untethered modal dialog{{/link-to}}</li>
      </ul>

      <h3>Helpers</h3>
      <ul>
        <li>{{#link-to 'helpers.concat'}}Concat{{/link-to}}</li>
        <li>{{#link-to 'helpers.format-number'}}Format number{{/link-to}}</li>
        <li>{{#link-to 'helpers.math'}}Math{{/link-to}}</li>
      </ul>

      <h3>Services</h3>
      <ul>
        <li>…</li>
      </ul>
    </nav>
  </aside>
    <div class='page-toolkit'>
      <div class='sliderBoxText'>
        {{input type='text' min='0' max='255' value=scaledDistThresholdR class='sliderText'}}
        {{input type='text' min='0' max='255' value=scaledDistThresholdG class='sliderText'}}
        {{input type='text' min='0' max='255' value=scaledDistThresholdB class='sliderText'}}
        <h6>Set:</h6>{{input type='checkbox' checked=rgbColor class='checkbox'}}
      </div>
      <div class='sliderBoxRange'>
        {{input type='range' min='0' max='255' value=scaledDistThresholdR class='slider'}}
        {{input type='range' min='0' max='255' value=scaledDistThresholdG class='slider'}}
        {{input type='range' min='0' max='255' value=scaledDistThresholdB class='slider'}}
      </div>
      <div class='colorBox'>
        {{input type='text' value=scaledDistThresholdRGB class='rgbStatus'}}
        {{input type='text' value=colorInput class='hexStatus'}}
      </div>
      <div class='sliderBoxRange'>
        {{input type='text' value=colorInput class='hexInput'}}
        <h6>Set:</h6>{{input type='checkbox' checked=hexColor class='checkbox'}}
      </div>
      <div class='divider'></div>
    <div class='pageControl'>
      <h6>Width:</h6>{{input type='range' min='0.1' max='1' step="0.01" value="0.75" value=pageWidth class='slider'}}
    </div>
    <div class='divider'></div>
    <h6>Mode:</h6>{{input type='checkbox' checked=mode class='checkbox'}}
    {{input type='checkbox' checked=decafe class='decafe'}}
  </div>
  <article class='page'>
    {{outlet}}
  </article>
</main>
